{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h1>{{order.title}}</h1>
            <small class="text-muted">{{ order.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <div class-"content-section">
            <div class="row mb-2 mt-3">
                <div class="col">
                    <h3>Date Expires:</h3> 
                    <p>{{order.date_expired}}</p>
                </div>
                <div class="col">
                    <h3>Date Starts:</h3>
                    <p>{{order.date_started}}</p>
                </div>
                <div class="col">
                    <div>
                    <h3>Number of orders:<span class="text-danger ml-3">{{len(order.responses)}}</span></h3>
                    </div>
                </div>
            </div>
            <h3 class="mb-2">Choices</h3>
            <div class="row mb-2 ml-1 mr-1"> 
                {% for day, options in choices.items() %}
                <div class="col content-section">
                    <h5>{{day.capitalize()}}</h5>
                    {% for choice, count in options.items() %}
                        <div class="row">
                            <div class="col-8">{{choice.capitalize()}}</div>
                            <div class="col-4">{{count}}</div>
                        </div>  
                    {% endfor %}
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</article>



{% endblock content %}