{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <div class="row justify-content-between">
            <div class="col-6">
                <h1>{{order.title}}</h1>
            </div>
            <div class="col-3 align-self-center text-right">
                <a class="btn btn-outline-secondary align-items-center" href= {{url_for('orders.single_form_pdf', form_id=order.id)}} role="button">Generate PDF report</a>
            </div>
        </div>

            <small class="text-muted">{{ order.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <div class-"content-section">
            <div class="row mb-2 mt-3">
                <div class="col">
                    <h3>Date Expires:</h3> 
                    <p>{{order.date_expired}}</p>
                </div>
                <div class="col">
                    <h3>Date Starts:</h3>
                    <p>{{order.date_started}}</p>
                </div>
                <div class="col">
                    <div>
                    <h3>Number of orders:<span class="text-danger ml-3">{{len(order.responses)}}</span></h3>
                    </div>
                </div>
            </div>
            <h3 class="mb-2">Choices</h3>
            <div class="row mb-2 ml-1 mr-1"> 
                {% for day, options in choices.items() %}
                <div class="col content-section">
                    <h5>{{day.capitalize()}}</h5>
                    {% for choice, count in options.items() %}
                        <div class="row">
                            <div class="col-8">{{choice.capitalize()}}</div>
                            <div class="col-4">{{count}}</div>
                        </div>  
                    {% endfor %}
                    </div>
                {% endfor %} 
            </div>
        </div> 
        <div id="accordion" class="mt-5">
        {% for group in groups %}   
            {% if group.name != "0a"%} 
            
                    <div class="card">
                        <div class="card-header" id="{{group}}Heading">
                            <h4 class="mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#{{group}}" aria-expanded="false" aria-controls="{{group}}">
                                    <h2>{{group.name}}</h2>
                                </a>
                            </h4>
                        </div>
                
                        <div id="{{group}}" class="collapse" aria-labelledby="{{group}}" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row mb-2 ml-1 mr-1"> 
                                    {% for day, options in group.get_order_counts(order).items() %}
                                    <div class="col content-section">
                                        <h5>{{day.capitalize()}}</h5>
                                        {% for choice, count in options.items() %}
                                            <div class="row">
                                                <div class="col-8">{{choice.capitalize()}}</div>
                                                <div class="col-4">{{count}}</div>
                                            </div>  
                                        {% endfor %}
                                        </div>
                                    {% endfor %} 
                                </div>
                                <div class="row justify-content-center">
                                    <a class=" btn btn-outline-secondary mb-5 col-4" data-toggle="collapse" href="#{{group}}Table" role="button" aria-expanded="false" aria-controls="{{group}}Table">
                                        Press to toggle student order table
                                    </a>
                                </div>
                                <div class="collapse" id="{{group}}Table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">Monday</th>
                                            <th scope="col">Tuesday</th>
                                            <th scope="col">Wednesday</th>
                                            <th scope="col">Thursday</th>
                                            <th scope="col">Friday</th>
                                        </tr>
                                    </thead>
                                    {% for user, k in zip(group.students, range(group.students.count())) %}
                                        <tr>
                                            <th scope="row">{{k + 1}}</th>
                                            <td>{{user.first_name}}</td>
                                            <td>{{user.last_name}}</td>
                                            <td>{{user.school_id}}</td>
                                            {% if user.get_response(order) %}
                                                <td>{{user.get_response(order).monday}}</td>
                                                <td>{{user.get_response(order).tuesday}}</td>
                                                <td>{{user.get_response(order).wednesday}}</td>
                                                <td>{{user.get_response(order).thursday}}</td>
                                                <td>{{user.get_response(order).friday}}</td>
                                            {% else %}
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>   
            {% endif %}
        {% else %}                     
        {% endfor %}
        </div>
    </div>
</article>



{% endblock content %}